<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>CUDA email- Mande milhares de emails gratuitamente!</title>

    <!-- Bootstrap core CSS -->
    <link href="static/styles/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/styles/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>CUDA</b></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right btn-primary">
            <li><a href="#">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Envie Emails para todos seus clientes rápido e de graça.</h1>
					<form class="form-inline" role="form">
					  <div class="form-group">
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
					  </div>
					  <button type="submit" class="btn btn-warning btn-lg">Quero Mandar Agora!</button>
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="static/ipad-hand.png" alt="">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Direto no navegor<br/>qualquer um consegue usar!</h1>
				<h3>Super fácil de usar, para que você possa focar no que realmente importa, <b>seus clientes!</b></h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="static/ser01.png" width="180" alt="">
				<h4>1 - 100% Compatível</h4>
				<p>Não precisa instalar nada, basta um navegador atualizado e mãos a obra!</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="static/ser02.png" width="180" alt="">
				<h4>2 - Campanhas</h4>
				<p>Mande até 2000 emails por mês, de graça, converse direto com seus clientes, mantenha um relacionamento próximo e uma comunicação ativa.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="static/ser03.png" width="180" alt="">
				<h4>3 - Analise</h4>
				<p>Crie companhas e acompanhe os dados das campanhas.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Fazer parte agora!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->
	


<div class="container">
	<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <h2 class="card-title">Pacote Gratuito</h2>
      <H4> Gratis para sempre</H4>
      <ul class="card-text">
      		<li>1 campanha por dia</li>
      		<li>250 destinatários por camapanha</li>
      		<li>Armazene recipeintes ilimitados</li>
      		<li>Use nosso domínio como endereço de envio</li>
      		<li>Formulários e Validação dinâmica</li>
      </ul>
      <p class="card-text"><small class="text-muted"><a class="btn btn-lg">Comece a enviar de graça!</a></small></p>
    </div>
  </div>
    <div class="card">
    <div class="card-block">
      <h2 class="card-title">Pacote Preimum</h2>
      <H4> R$99/Mês</H4>
      <ul class="card-text">
      		<li>campanhas ilimitadas</li>
      		<li>Destinatários ilimitados</li>
      		<li>Armazene recipeintes ilimitados</li>
      		<li>Use qualquer domínio como endereço de envio</li>
      		<li>Formulários e Validação dinâmica</li>
      		<li>Sem Ads</li>
      </ul>
      <p class="card-text"><small class="text-muted"><a class="btn btn-lg">Comece com o CUDA Premium!</a></small></p>
    </div>
  </div>

</div>

<div class="container">
	<div class="jumbotron jumbotron-fluid" style="margin-top: 7.5rem;">
  <div class="container">
    <h1 class="display-3">CUDA</h1>
    <p class="lead"><h3><b>C</b>ampanhas <b>U</b>nificadas <b>D</b>iárias <b>A</b>utomazidas</h3></p>
  </div>
</div>
</div>


	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>CUDA é para todos</h1>
				<h3>Grandes empreendimentos e microempresas, todos usam CUDA para se comunicar com os clientes!</h3>
			</div>
		</div><!-- /row -->
	
		<! -- CAROUSEL -->
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
				
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
				    <div class="item active">
				      <img src="static/p01.png" alt="">
				    </div>
				    <div class="item">
				      <img src="static/p02.png" alt="">
				    </div>
				    <div class="item">
				      <img src="static/p03.png" alt="">
				    </div>
				  </div>
				</div>			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
	</div><! --/container -->
	





	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline" role="form">
				  <div class="form-group">
				    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
				  </div>
				  <button type="submit" class="btn btn-warning btn-lg">Quero entrar!</button>
				</form>					
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
	</div><!-- /container -->

	
	
	<div class="container">
		<hr>
		<p class="centered">Created by CUDA with love - 2017</p>
	</div><!-- /container -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
